<div class="home-container">
    <div class="slider-background">
        <div class="slider container">
            <div class="img-box">
                <img width="260" height="260"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/jgpy5pwvor7gtfw6qv8r">
            </div>
            <div class="img-box">
                <img width="260" height="260"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/gdbzrjqdeqllucpzn6pe">
            </div>
            <div class="img-box">
                <img width="260" height="260"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/tcvxgt0j8fphiktdv8ye">
            </div>
            <div class="img-box">
                <img width="260" height="260"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/vcfdjsyqabgfglw6ohcv">
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="title">
            <h1>Restaurants With Top Rating</h1>
        </div>


        <div class="card-container">
            <div class="card" *ngFor="let restaurant of restaurantsWithTopRating | slice:0:4" (click)="goToRestaurant(restaurant)">
                <div>
                    <img alt="Ancient Hyderabad" width="254" height="160" [src]="restaurant.imageURL">
                    <div class="exclusive"
                        style="background: rgb(250, 74, 91); color: rgb(255, 255, 255);border-color: rgb(209, 42, 59) transparent;">
                        exclusive
                    </div>
                </div>
                <div class="footer">
                    <div>
                        <div class="name">{{restaurant.fullName}}</div>
                        <div class="address">Street Food, South Indian, Fast Food</div>
                    </div>
                    <div class="other">
                        <div class="rating">
                            <mat-icon class="star-icon">star</mat-icon>
                            <span class="rate">{{restaurant.rateTotal}}</span>
                        </div>
                        <div>&#8226;</div>
                        <div>32 MINS</div>
                        <div>&#8226;</div>
                        <div>250 For Two</div>
                    </div>
                    <div class="offer">
                        <mat-icon class="offer-icon" fontSet="material-icons-outlined">local_offer</mat-icon>
                        <span class="offer-description">40% off | Use coupon SWIGGY40</span>
                    </div>
            
                </div>
            </div>

            <div class="title">
                <h1>Dish With New Order</h1>
            </div>

            <div style="margin-top: 10px">
                <div class="mini-card-container">
                    <div class="mini-card" *ngFor="let dishes of dishWithNewOrder" (click)="goToMyRestaurant(dishes)">
                        <div>
                            <img height="160" width="244" alt=""
                                src="{{dishes?.imageURL}}">
                        </div>
                        <div class="item">
                            <span class="text-name" style="margin-left: 5px;">{{dishes?.name}} <span class="" style="margin-left: 5px;"> (Sell 999+)</span></span>
                            
                        </div>
                        <div class="botom">
                            <div>{{dishes?.price | currency: 'VND'}} / {{dishes?.unit}}</div>
                            <!-- <div class="add-remove-box">
                                <mat-icon class="star-icon" fontSet="material-icons-outlined">remove
                                </mat-icon>
                                <span>5</span>
                                <mat-icon class="star-icon" fontSet="material-icons-outlined">add</mat-icon>
                            </div> -->
            
                        </div>
                    </div>
                </div>
            </div>

            
        </div> <!-- container -->


        <div class="title">
            <h1>Restaurants With New Order</h1>
        </div>

        <div class="card-container">
            <div class="card" *ngFor="let restaurant of restaurantsWithTopRating" (click)="goToRestaurant(restaurant)">
                <div>
                    <img alt="Ancient Hyderabad" width="254" height="160" [src]="restaurant.imageURL">
                    <div class="exclusive"
                        style="background: rgb(250, 74, 91); color: rgb(255, 255, 255);border-color: rgb(209, 42, 59) transparent;">
                        exclusive
                    </div>
                </div>
                <div class="footer">
                    <div>
                        <div class="name">{{restaurant.fullName}}</div>
                        <div class="address">Street Food, South Indian, Fast Food</div>
                    </div>
                    <div class="other">
                        <div class="rating">
                            <mat-icon class="star-icon">star</mat-icon>
                            <span class="rate">{{restaurant.rateTotal}}</span>
                        </div>
                        <div>&#8226;</div>
                        <div>32 MINS</div>
                        <div>&#8226;</div>
                        <div>250 For Two</div>
                    </div>
                    <div class="offer">
                        <mat-icon class="offer-icon" fontSet="material-icons-outlined">local_offer</mat-icon>
                        <span class="offer-description">40% off | Use coupon SWIGGY40</span>
                    </div>
            
                </div>
            </div>
        </div>


</div>