
.cart-container{
    margin-top:80px;
    width: 100%;
    background: #e9ecee;
    padding-top: 20px;
}


.cart-container-box{
    padding: 0 30px;
    display: flex;
    margin-top: 30px;
    .left-container-box{
        flex: 2;
        display: flex;
        flex-direction: column;
        .child-box{
            background: #fff;
            margin-bottom: 20px;
            padding: 40px;
            .button-container{
                display: flex;
                margin-top: 40px;
            }
            .address-box-container{
              display: flex;
              flex-wrap: wrap;
                margin: 40px 0px 0px 0px;

                .address-box-card{
                    margin-bottom: 20px;
                    padding: 20px;
                    border: 1px solid lightgray;
                    width: 280px;
                    .address-box-header{
                        display: flex;
                        align-items: center;
                    }
                    .address-box-footer{
                        font-size: 13px;
                        color: #93959f;
                        line-height: 1.3;
                        padding-top: 5px;
                        margin-left: 34px;
                    }
                }
                .address-box-card:nth-child(even) { 
                    margin-left: 20px;
                } 
            }
        }
       
    }
    .right-container-box{
        
        width: 400px;
        .main-box{
            position: sticky;
            top: 111px;
            background: #fff;
            padding: 30px;
            margin-left: 30px;
            flex: 1;
            .cart-header{
                display: flex;
            }
        
            .items{
                border-top: 1px solid #f2f2f2;
                width: 100%;
                margin-top: 10px;
                padding-top: 20px;
                .list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    .item-name{
                        font-size: 14px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 120px;
                    }
                }
            }
            .subtotal{
                padding-top: 30px;
                border-top: 1px solid #f2f2f2;
                color: #3d4152;
                font-size: 15px;
                font-weight: 600;
            
                .total-amount-box{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .extra-charges-text{
                    font-size: 13px;
                    font-weight: 300;
                    color: #7e808c;
                    margin-top: 2px;
                }
            }
        }
    }
}