<div class="toplinks">
    <div class="links">
      <div *ngIf="currentUser$ | async"  class="myaccount"><a title="My Account" [routerLink]="[{outlets: {popup: ['profile']}}]"><span>{{(currentUser$ | async).username}}</span> </a></div>
      <div class="wishlist"><a title="My Wishlist" href="wishlist.html"><span>Wishlist</span></a></div>
      <div class="check"><a href="checkout.html" title="Checkout"><span>Checkout</span></a></div>
      <div class="demo"><a href="#" title="Demo"><span>Demo</span></a></div>
      <!-- Header Company -->
      <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="dropdown-toggle" href="#"> <span>Company</span> <i class="icon-angle-down"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="about_us.html"> About Us </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Customer Service </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Privacy Policy </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="site_map.html">Site Map </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Search Terms </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Advanced Search </a></li>
        </ul>
      </div>
      <!-- End Header Company -->
      <div *ngIf="(currentUser$ | async) === null" class="login"><a [routerLink]="['/login']" routerLinkActive="router-link-active" ><span>Log In</span></a></div>
      <div *ngIf="currentUser$ | async" class="login" (click)="logout()"><a href="" routerLinkActive="router-link-active" ><span>Log Out</span></a></div>
    </div>
  </div>
