<div class="select-address-container">
    <div class="nav-close-button-box">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeAddressNav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="address-search-input-box">
        <mat-form-field appearance="outline" class="search-box">
            <input matInput placeholder="Seach for area, street name" class="seach-input-text">
            <button mat-button matSuffix aria-label="Clear" style="bottom: 8px; right: 20px; color: #fc8019">
                Cancel
            </button>
        </mat-form-field>
    </div>
    <div class="address-search-result-box">
        <span class="address-box-title">Saved Addresses</span>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Home</h3>
            </div>
            <span class="address-box-footer">
                    F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra 411033, India
            </span>
        </div>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Work</h3>
            </div>
            <span class="address-box-footer">
                    F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra 411033, India
            </span>
        </div>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">room</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Hinjewadi</h3>
            </div>
            <span class="address-box-footer">
                    F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra 411033, India
            </span>
        </div>
    </div>

</div>