<div class="search-container container">
    <div class="container-box">
        <div class="middle">
            <mat-form-field appearance="outline" class="search-box">
                <input matInput placeholder="Seach For Restaurant Or Dishes" class="seach-input-text" 
                [(ngModel)]="searchValue" (keyup.enter)="doSearch()" >
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="this.searchValue=''"
                    style="top: -10px; right: 10px; font-size: 16px; font-weight: 500">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-button matPrefix mat-icon-button aria-label="Clear"
                    style="top: -10px; left: 20px; font-size: 16px; font-weight: 500"
                    (click)="this.doSearch()" >
                    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                </button>
            </mat-form-field>
            <div class="result-box">
                <mat-tab-group (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Restaurant">
                        <div style="margin-top: 10px">
                            <div class="card-container">
                                <div class="row row-cols-4">
                                    <ng-container  *ngIf="restaurants?.length == 0" class="alert alert-warning col-md-12" role="alert">
                                        Not found.
                                    </ng-container>
                                    <div class="card mb-5" *ngFor="let restaurant of restaurants" (click)="goToRestaurant(restaurant)">
                                        <div>
                                            <img alt="Ancient Hyderabad" width="212" height="160" [src]="restaurant.imageURL">
                                        </div>
                                        <div class="footer">
                                            <div>
                                                <div class="name">{{restaurant.fullName}}</div>
                                                <div class="address">địa chỉ{{restaurant.foodType}}</div>
                                            </div>
                                            <div class="other">
                                                <div class="rating">
                                                    <mat-icon class="star-icon">star</mat-icon>
                                                    <span class="rate">5{{restaurant.rating}}</span>
                                                </div>
                                                <div>&#8226;</div>
                                                <div>32 MINS</div>
                                                <div>&#8226;</div>
                                                <div>250 For Two</div>
                                            </div>
                                            <div class="offer">
                                                <mat-icon class="offer-icon" fontSet="material-icons-outlined">local_offer
                                                </mat-icon>
                                                <span class="offer-description">40% off | Use coupon SWIGGY40</span>
                                            </div>
                                            <!-- <div class="quick-view">
                                                    <span>Quick Order</span>
                                                </div> -->
                                        </div>
                                    </div> 
                                </div>
                                
                            </div>
                        </div>                       
                    </mat-tab>
                    <mat-tab label="Dishes">
                        <div style="margin-top: 10px">
                            <div class="mini-card-container">
                                <div class="mini-card" *ngFor="let dishes of dishesList" (click)="goToDishes(dishes)">
                                    <div>
                                        <img height="160" width="244" alt=""
                                            src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/jb72srvfsyzsklvt8gkn">
                                    </div>
                                    <div class="item">
                                        <img src="https://img.icons8.com/color/18/000000/vegetarian-food-symbol.png">
                                        <span style="margin-left: 5px;">Idli Sambar (2 Pcs)</span>
                                    </div>
                                    <div class="botom">
                                        <div>₹50</div>
                                        <div class="add-remove-box">
                                            <mat-icon class="star-icon" fontSet="material-icons-outlined">remove
                                            </mat-icon>
                                            <span>5</span>
                                            <mat-icon class="star-icon" fontSet="material-icons-outlined">add</mat-icon>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <div class="footer-pagination mt-5">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9" style="display: flex;justify-content: flex-end">
                                    <ngb-pagination [(page)]="thePageNumber"
                                                    [pageSize]="thePageSize"
                                                    [collectionSize]="theTotalElements"
                                                    [maxSize]="5"
                                                    [boundaryLinks]="true"
                                                    (pageChange)="getListRestaurant()" >

                                    </ngb-pagination>
                                </div>

                                <div class="col-md-3" style="text-align: right;">
                                    <span class="mr-2">Page Size</span>
                                    
                                    <select (change)="updatePageSize($event.target.value)">
                                        <option selected="true">5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>