  <div class="page"> 
      <!-- Header -->
      <header class="header-container">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-xs-6"> 
                
                <!-- Header Language -->
                <div class="dropdown block-language-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="assets/images/english.png" alt="language"> English <i class="icon-angle-down"></i> </a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/english.png" alt="language"> English </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/francais.png" alt="language"> French </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="assets/images/german.png" alt="language"> German </a></li>
                  </ul>
                </div>
                
                <!-- End Header Language --> 
                <!-- Header Currency -->
                <div class="dropdown block-currency-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <i class="icon-angle-down"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
                  </ul>
                </div>
                
                <!-- End Header Currency -->
                <div class="welcome-msg hidden-xs"> Default welcome msg! </div>
              </div>
              <div class="col-lg-7 col-md-7 col-xs-6"> 
                
                <!-- Header Top Links -->
                <app-header-top-link></app-header-top-link>
                <!-- End Header Top Links --> 
                
              </div>
            </div>
          </div>
        </div>
       
        <div class="header container">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-3"> 
              <!-- Header Logo -->
              <div class="logo"> <a title="Magento Commerce" href="index.html"><img alt="Magento Commerce" src="assets/images/logo.png"></a> </div>
              <!-- End Header Logo --> 
            </div>
            <div class="col-lg-9 col-xs-12">
              <div class="top-cart-contain">
                <app-cart></app-cart>
                <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                  <input value="" type="hidden">
                  <input id="enable_module" value="1" type="hidden">
                  <input class="effect_to_cart" value="1" type="hidden">
                  <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                </div>
              </div>
            </div>
          </div>
        </div>
       </header>
      <!-- end header --> 
      <!-- Navbar -->
      <app-nav></app-nav>
      <!-- end nav --> 
      
        <router-outlet></router-outlet>
  
      <div class="brand-logo ">
        <div class="container">
          <div class="row">
            <div class="slider-items-products col-lg-12">
              <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6"> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo1.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo2.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo3.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo4.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo5.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo6.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo1.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img src="assets/images/b-logo4.png" alt="Image"></a> </div>
                  <!-- End Item --> 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Footer -->
      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-logo"><a href="index.html" title="Logo"><img src="assets/images/logo.png" alt="logo"></a></div>
                <address>
                <i class="add-icon">&nbsp;</i>588 CMT8 Street, Dist 3, Ho Chi Minh City <br>
                </address>
                <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +84 090 965 6766</div>
                <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:khoaimiday@yahoo.com">khoaimiday@yahoo.com</a> </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <h4>Shopping Guide</h4>
                <ul class="links">
                  <li class="first"><a href="#" title="How to buy">How to buy</a></li>
                  <li><a href="faq.html" title="FAQs">FAQs</a></li>
                  <li><a href="#" title="Payment">Payment</a></li>
                  <li><a href="#" title="Shipment&lt;/a&gt;">Shipment</a></li>
                  <li><a href="#" title="Where is my order?">Where is my order?</a></li>
                  <li class="last"><a href="#" title="Return policy">Return policy</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <h4>Style Advisor</h4>
                <ul class="links">
                  <li class="first"><a href="#" title="Your Account">Your Account</a></li>
                  <li><a href="#" title="Information">Information</a></li>
                  <li><a href="#" title="Addresses">Addresses</a></li>
                  <li><a href="#" title="Addresses">Discount</a></li>
                  <li><a href="#" title="Orders History">Orders History</a></li>
                  <li class="last"><a href="#" title=" Additional Information">Additional Information</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-3 col-xs-12">
                <h4>Information</h4>
                <ul class="links">
                  <li class="first"><a href="sitemap.html" title="Site Map">Site Map</a></li>
                  <li><a href="#/" title="Search Terms">Search Terms</a></li>
                  <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                  <li><a href="contact_us.html" title="Contact Us">Contact Us</a></li>
                  <li><a href="#" title="Suppliers">Suppliers</a></li>
                  <li class=" last"><a href="#" title="Our stores" class="link-rss">Our stores</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-8 col-sm-9 col-xs-12">
                <div class="block-subscribe">
                  <h4>Sign up for emails</h4>
                  <div class="newsletter">
                    <form>
                      <input type="text" placeholder="Enter your email" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter1" name="email">
                      <button class="subscribe" title="Subscribe" type="submit"><span>Submit</span></button>
                    </form>
                  </div>
                </div>
                <div class="social">
                  <h4>Follow Us</h4>
                  <ul>
                    <li class="fb"><a href="#"></a></li>
                    <li class="tw"><a href="#"></a></li>
                    <li class="googleplus"><a href="#"></a></li>
                    <li class="rss"><a href="#"></a></li>
                    <li class="pintrest"><a href="#"></a></li>
                    <li class="linkedin"><a href="#"></a></li>
                    <li class="youtube"><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12 coppyright"> &copy; 2015 Magikcommerce. All Rights Reserved.</div>
              <div class="col-sm-8 col-xs-12 company-links">
                <ul class="links">
                  <li><a href="#" title="Magento Themes">Magento Themes</a></li>
                  <li><a href="#" title="Premium Themes">Premium Themes</a></li>
                  <li><a href="#" title="Responsive Themes">Responsive Themes</a></li>
                  <li class="last"><a href="#" title="Magento Extensions">Magento Extensions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer --> 
      
    </div>
    <div class="help_slider">
      <div class="text alignleft">Need Help?</div>
      <div class="icons"> <a class="show_hide" id="questionbox-side-phonebutton" href="javascript:void(0)"><i class="icon-phones">&nbsp;</i></a> <a class="show_hide1" id="questionbox-side-emailbutton" href="javascript:void(0)"><i class="icon-email">&nbsp;</i></a> </div>
    </div>
    <div id="hideShow" class="right-side-content" style="display: none;"> 
      <!--Contact Static Block -->
      <div class="slider-phone active">
        <h2 class="">Talk To Us</h2>
        <h3 class="">Available 24/7</h3>
        <p class="textcenter"> Want to speak to someone? We're here 24/7 to answer any questions. Just call!<br>
          <br>
          <span class="phone-number"> +1 800 123 1234</span></p>
        <a id="hideDiv" class="slider-close" href="javascript:void(0)"></a> </div>
      <div class="slider-email hidden">
        <h2 class="">Let us know how we can help you.</h2>
        <form action="#" enctype="application/x-www-form-urlencoded" method="post" id="form-contact-help_slider">
          <div class="column sixty">
            <div class="">
              <ul>
                <li>
                  <label>First Name</label>
                  <input type="text" name="FirstName" class="required-entry">
                  <div class="clearfix"></div>
                </li>
                <li>
                  <label>Last Name</label>
                  <input type="text" name="LastName" class="required-entry">
                  <div class="clearfix"></div>
                </li>
                <li>
                  <label>Email Address</label>
                  <input type="email" name="Email" class="required-entry">
                  <div class="clearfix"></div>
                </li>
                <li>
                  <label>Phone Number</label>
                  <input type="text" name="Phone">
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="column fourty last">
            <div class="padding">
              <textarea name="Contact_Form_Message__c" class="required-entry">How can we help you?</textarea>
              <div class="textright">
                <button class="button btn-sent" title="Add to Cart" type="button"><span>Send</span></button>
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
        <a class="slider-close" href="#"></a></div>
    </div>
    <div id="hideShow1" style="display: none;">