<div class="footer">
        <div class="container">
            <div class="first">
                <h4>Three Little Lizard</h4>
                <p>
                    “It's easier to be faithful to a restaurant than it is to a woman.” 
                </p>
                <p>Federico Fellini</p>
            </div>
            <div class="second">
                <h4>HELP</h4>
                <ul class="list">
                    <li>
                        Shipping Information</li>
                    <li> Returns & Exchange</li>
                    <li> Terms & Conditions</li>
                    <li> Privacy Policy
                    </li>
                </ul>
            </div>
            <div class="third">
                <h4>HAVE A QUESTION</h4>
                <p>
                    417 Hồng Bàng, Phường 4, Quận 5,HCM, VN</p>
                <p>19006034</p>
                <p>ThreeLittleLizard@yourdomain.com
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2021 All rights reserved | This application is made with by Little Lizrard Team</p>
        </div>
    </div>