<div style="margin-top: 10px">
    <div class="mini-card-container">
        <div class="mini-card" *ngFor="let dishes of dishesList" (click)="goToMyRestaurant(dishes)">
            <div>
                <img height="160" width="244" alt=""
                    src="{{dishes.imageURL}}">
            </div>
            <div class="item">
                <img src="">
                <span class="text-name" style="margin-left: 5px;">{{dishes.name}}</span>
            </div>
            <div class="botom">
                <div>{{dishes.price | currency: 'VND'}} / {{dishes.unit}}</div>
                <div class="add-remove-box">
                    <mat-icon class="star-icon" fontSet="material-icons-outlined">remove
                    </mat-icon>
                    <span>5</span>
                    <mat-icon class="star-icon" fontSet="material-icons-outlined">add</mat-icon>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-pagination mt-5">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
                <mat-paginator  [length]="theTotalElements"
                                [pageSize]="thePageSize"
                                [pageSizeOptions]="[5,10,20]"
                                (page)="changePaginator($event)"
                                aria-label="Select page">
                </mat-paginator>      
        </div>
    </div>
</div>