.card-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 20px;
    .card{
        img{
            width: 100%;
        }
    }
}

.wish-icon{
    color: #fc8019;
    :hover{
        color: #11c571;
    }
}
