    <div style="margin-top: 10px">
        <div class="card-container">
            <div class="row row-cols-4">
                <ng-container  *ngIf="restaurants?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Not found.
                </ng-container>
                <div class="card mb-5" *ngFor="let restaurant of restaurants" (click)="goToRestaurant(restaurant)">
                    <div>
                        <img alt="Ancient Hyderabad" width="212" height="160" [src]="restaurant.imageURL">
                    </div>
                    <div class="footer">
                        <div>
                            <div class="name">{{restaurant.fullName}}</div>
                            <div class="address">địa chỉ{{restaurant.foodType}}</div>
                        </div>
                        <div class="other">
                            <div class="rating">
                                <mat-icon class="star-icon">star</mat-icon>
                                <span class="rate">5{{restaurant.rating}}</span>
                            </div>
                            <div>&#8226;</div>
                            <div>32 MINS</div>
                            <div>&#8226;</div>
                            <div>250 For Two</div>
                        </div>
                        <div class="offer">
                            <mat-icon class="offer-icon" fontSet="material-icons-outlined">local_offer
                            </mat-icon>
                            <span class="offer-description">40% off | Use coupon SWIGGY40</span>
                        </div>
                        <!-- <div class="quick-view">
                                <span>Quick Order</span>
                            </div> -->
                    </div>
                </div> 
            </div>
            
        </div>
    </div>                       

    <div class="footer-pagination mt-5">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                    <mat-paginator  [length]="theTotalElements"
                                    [pageSize]="thePageSize"
                                    [pageSizeOptions]="[5,10,20]"
                                    (page)="changePaginator($event)"
                                    aria-label="Select page">
                    </mat-paginator>      
            </div>
        </div>
    </div>