    <div style="margin-top: 10px">
        <div class="card-container">
            <div class="row row-cols-4">
                <ng-container  *ngIf="restaurants?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Not found.
                </ng-container>
                <div class="card mb-5" *ngFor="let restaurant of restaurants">
                    <div (click)="goToRestaurant(restaurant)">
                        <img alt="Ancient Hyderabad" width="212" height="160" [src]="restaurant.imageURL">
                    </div>
                    <div class="footer">
                        <div (click)="goToRestaurant(restaurant)">
                            <div class="name">{{restaurant.fullName}}</div>
                            <div class="address">{{ this.restaurant.address?.street }}, {{ this.restaurant.address?.ward }}, {{ this.restaurant.address?.district }}</div>
                        </div>
                        <div class="other" >
                            <div class="other" (click)="goToRestaurant(restaurant)">
                                <div class="rating">
                                    <mat-icon class="star-icon">star</mat-icon>
                                    <span>{{ restaurant?.rateCount != 0 ? restaurant?.rateTotal : 5}}</span>
                                </div>
                                <div class="mx-1">({{restaurant?.rateCount }} rates)</div>
                            </div>
                            <div class="wish-icon">
                                <span class="material-icons-outlined" (click)="addWishList(restaurant)">
                                    bookmark_added
                                </span>
                            </div>
                        </div>
                        <div class="offer">
                            <mat-icon class="offer-icon" fontSet="material-icons-outlined">local_offer
                            </mat-icon>
                            <span class="offer-description">40% off | Use coupon SWIGGY40</span>
                        </div>
                        <div class="quick-view">
                            <button mat-button (click)="openDialog(restaurant)">Rate now..</button>                             
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>                       

    <div class="footer-pagination mt-5">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                    <mat-paginator  [length]="theTotalElements"
                                    [pageSize]="thePageSize"
                                    [pageSizeOptions]="[5,10,20]"
                                    (page)="changePaginator($event)"
                                    aria-label="Select page">
                    </mat-paginator>      
            </div>
        </div>
    </div>