@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.skltn-card {
    margin: 20px 0 48px;
}
.skltn-card__avatar {
    width: 60px;
    height: 60px; /* <-- Don't forget height */
    margin-bottom: 20px;
}
.skltn-card__title {
    height: 32px;
    margin-bottom: 20px;
}
.skltn-card__line {
    height: 20px;
    margin-bottom: 20px;
}
.skltn-card__line:last-child {
    width: 60%;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    //font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #282c3f;
}
h1,
h2,
h3 {
    margin: 0;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #fc8019;
}
.active {
    color: #fc8019;
    outline: none;
}

p {
    font-weight: 300;
}
mat-icon {
    cursor: pointer;
}
.button-box {
    .default-button {
        width: 100%;
        height: 50px;
        background: #fc8019;
        color: #fff;
        text-transform: capitalize;
        border-radius: 0;
    }
}
.full-size-button-box {
    width: 100%;
}
.success-button {
    background: #60b246 !important;
}
.outline-success-button {
    border: 1px solid #60b246 !important;
    background: #fff !important;
    color: #60b246 !important;
}
.mat-expansion-panel {
    box-shadow: none !important;
    // border-right: 1px solid;
    border-radius: 0 !important;
}
.mat-expansion-panel-header[aria-disabled="true"] {
    color: black;
    cursor: pointer;
}
.mat-expansion-panel-header:hover {
    color: #fc8019;
    font-weight: 500;
    .mat-expansion-panel-header-title {
        color: inherit;
    }
}
.mat-tab-label-content {
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 14px;
    margin-top: 1px;
    color: #282c3f;
}
.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #fc8019;
}
.header-container {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 0.3s ease;
    contain: size layout style;
    padding: 0 20px;
    .contain {
        max-width: 1200px;
        min-width: 1200px;
        position: relative;
        margin: 0 auto;
        height: 80px;
        background: #fff;
        display: flex;
        align-items: center;
        .logo {
            display: block;
            height: 49px;
            transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            cursor: pointer;
        }
        .logo:hover {
            transform: scale(1.1);
        }
        .address-box {
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            margin-left: 30px;
            max-width: 300px;
            height: 30px;
            cursor: pointer;
            margin-bottom: -1px;
            padding-right: 10px;
            position: relative;
            .home {
                text-transform: uppercase;
                font-weight: 700;
                color: #3d4152;
                float: left;
                position: relative;
            }
            .home::after {
                content: "";
                position: absolute;
                height: 2px;
                left: 0;
                bottom: -5px;
                width: 100%;
                background: #3d4152;
            }
            .address {
                display: block;
                padding-left: 5px;
                margin-left: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: #93959f;
            }
            .icon {
                color: #fc8019;
            }
        }
        .global-menu {
            flex: 1;
            min-width: 0;
            display: flex;
            flex-direction: row-reverse;
            height: 100%;
            align-items: center;
            .menu-item {
                margin-right: 60px;
                color: #3d4152;
                font-size: 16px;
                font-weight: 500;
                height: 100%;
            }
            .menu-item:hover {
                cursor: pointer;
                color: #fc8019;
            }
            .menu-item:first-child {
                margin-right: 0;
            }
            .menu-item .item-box {
                display: flex;
                align-items: center;
                height: 100%;
            }
            mat-icon {
                margin-right: 5px;
            }
        }
    }
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: list-item;
    outline: none;
}
li:active,
:hover {
    outline: none;
}
.flex-view-row {
    display: flex;
    align-items: center;
}
.card-container-title {
    margin-left: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.card {
    border: 1px solid #fafafa;
    width: 254px;
    padding: 20px 20px 57px;
    // border: 1px solid #fff;
    contain: content;
    cursor: pointer;
    .exclusive {
        position: absolute;
        left: 11px;
        top: 20px;
        background-color: #8a584b;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 5px 9px 4px;
        max-width: 50%;
        text-transform: uppercase;
        border-color: #8a584b;
    }
    .exclusive::before {
        position: absolute;
        bottom: -9px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-color: inherit;
        left: 0;
        border-width: 9px 0 0 9px;
    }
    .footer {
        margin-top: 14px;
        .name {
            font-size: 17px;
            font-weight: 500;
            word-break: break-word;
        }
        .address {
            color: #686b78;
            font-size: 13px;
            margin-top: 4px;
        }
        .other {
            margin-top: 18px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            color: #535665;
            align-items: center;
            .rating {
                height: 20px;
                width: 43px;
                padding: 0 5px;
                font-weight: 400;
                background-color: #db7c38;
                color: #fff;
                .star-icon {
                    font-size: 16px;
                    position: relative;
                    top: 1.5px;
                }
                .rate {
                    font-size: 12px;
                    font-weight: 500;
                    bottom: 1.5px;
                    position: relative;
                }
            }
        }
        .offer {
            border-top: 1px solid #e9e9eb;
            padding-top: 14px;
            margin-top: 14px;
            color: #8a584b;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            font-weight: 600;
            .offer-icon {
                font-size: 16px;
                width: 20px;
                height: 16px;
                margin-right: 4px;
                font-weight: 300 !important;
                transform: rotate3d(0);
                -ms-transform-origin: center center;
                transform-origin: center center;
            }
            .offer-description {
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .quick-view {
            color: #686b78;
            font-size: 13px;
            visibility: hidden;
            border-top: 1px solid #e9e9eb;
            padding-top: 14px;
            margin-top: 14px;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 14px;
        }
    }
}
.card:hover {
    border: 1px solid #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
    .quick-view {
        visibility: visible;
    }
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.star-icon {
    font-size: 16px;
    position: relative;
    top: 1.5px;
}

.veg-icon {
    border: 1px solid green;
}
.add-remove-box {
    border: 1px solid #d4d5d9;
    display: flex;
    justify-content: space-between;
    color: #60b246;
    font-weight: 600;
    line-height: 30px;
    align-items: center;
    font-size: 12px;
    mat-icon {
        font-size: 12px;
        text-align: center;
        height: 100%;
    }
    span {
        width: 15px;
        text-align: center;
    }
}
.total-items {
    font-weight: 500;
    font-size: 13px;
    color: #686b78;
    text-transform: uppercase;
    margin-top: 4px;
}

.mini-card-container {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mini-card {
    margin-bottom: 30px;
    .item {
        font-size: 16px;
        color: #282c3f;
        font-weight: 500;
        display: flex;
        margin-top: 10px;
    }
    .botom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 24px;
        margin-top: 10px;
        color: #535665;
        font-size: 15px;
    }
}

.second-view {
    background: #37718e;
    min-height: 40vh;
    .secondary-container-header {
        height: 130px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .header-text {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            color: #fff;
            .primary-text {
                font-size: 32px;
                font-weight: 600;
                text-transform: capitalize;
            }
            .secondary-text {
                margin-top: 2px;
                font-size: 16px;
            }
        }
    }
    .body {
        background: #fff;
        margin-top: 35px;
        padding: 55px;
        display: flex;
        .list-view {
            flex: 1;
            .list-box {
                min-height: 400px;
                min-width: 260px;
                background: #edf1f7;
                padding: 15px 0px;
                position: sticky;
                top: 111px;
                .item {
                    padding: 25px 20px;
                    margin-left: 20px;
                    cursor: pointer;
                    display: flex;
                    position: relative;
                    .text {
                        margin-left: 40px;
                        font-size: 16px;
                        color: #535665;
                        font-weight: 500;
                    }
                }
                .item:hover .text {
                    font-weight: 600;
                }
                .item.active_item {
                    background: #fff;
                }
            }
        }
        .result-view {
            flex: 4;
            margin-left: 10px;
            .result-box {
                padding: 30px;
                .result-header {
                    font-size: 24px;
                    font-weight: 600;
                    margin-left: 20px;
                }
                .expand-pannel {
                    margin-top: 20px;
                }
            }
        }
    }
}

.container {
    max-width: 1200px;
    padding: 0px 75px;
    margin: 0 auto;
}
