
.offer-container{
    margin-top: 80px;
    width: 100%;
}
.offer-container-background {

    background: #005062;
}
.offer-container-title{
    padding: 0 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-text{
        color: #fff;
        h1{
            font-weight: 500;
            font-size: 50px;
        }
        span{
            font-size: 22px;
            line-height: 1.2;
            opacity: .8;
        }
    }
}
.offer-tabs{
    margin-top: 30px;
    padding: 0 20px;
}
